The Norad Relay (<%= @relay.key_signature[-23..-1].upcase %>) associated with the <%= @relay.organization.uid %> organization is now online.

For more information, please visit <%= ui_url(v1_organization_url(@relay.organization)) %>.
