Hello<%= greeting_name %>,

Your new Norad user, <%= @user.uid %>, is now active. You can start adding machines to your default organization at <%= ui_url(v1_organizations_url(@user.organizations.first)) %>, or begin by creating a new organization at <%= ui_url(v1_organizations_url) %>/new.

For more information about Norad, please visit our documentation page at <%= @docs_url %>. If you require further assistance, please file an issue at <%= @support_url %> or email the team at <%= @support_email %>.

Please join the <%= @mailinglist_name %> mailing list to keep informed about Norad updates. You can subscribe at <%= @mailinglist_url %>.

Thanks,
The Norad Team
