Dear member of <%= @organization.slug %>,

<% if @docker_command.error_details.present? %>

Your scan failed to start. Here are the error details:

<%= @docker_command.error_details %>

<% elsif @docker_command.assessments.count.zero? %>

Your scan has finished, but no relevant assessments were completed.
Please ensure you have the relevant services discovered or enabled on
these machines for the security tests selected.

Scan started:            <%= @docker_command.started_at %>
Machines selected:       <%= @docker_command.machine_count %>
Security tests selected: <%= @docker_command.containers.count %>

<% else %>

Your scan has finished. View the results here: <%= scan_url(@docker_command) %>

Scan started:             <%= @docker_command.started_at %>
Scan finished:            <%= @docker_command.finished_at %>
Duration:                 <%= duration_in_words(@docker_command) %>
Machines scanned:         <%= @docker_command.machine_count %>
Assessments completed:    <%= @docker_command.assessments.count %>
Security tests completed: <%= @docker_command.containers.count %>

<% end %>
